.vehicles-list-cont {
  height: 100vh;
  padding: 0 4rem;
  margin-top: 10vh;
  text-decoration: none;
}

.vehi-card {
  width: 30%;
}

.header-det {
  margin-top: 20px;
}

.list-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  width: 84%;
  margin: 2rem auto auto;

  @media only screen and (min-width: 992px) {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 84%;
    margin: 2rem auto auto;
  }
}

.list-group-item {
  border: 0 !important;
}

.list-con {
  margin-left: 10px;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.viewCard-img-top {
  width: 15rem;
  height: 15rem;
  border-radius: 20px;
}

.viewCard-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 15rem;
  padding-top: 20px;
}

.viewCard-title,
.viewCard-text {
  color: var(--text-color);
}

.vehiLink-button {
  text-decoration: none;
}

.item-icons {
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
  width: 15rem;
}

.socialImg {
  color: #d8d8d9;
  font-size: 30px;
}
